body {
  background-color: #1e1e1e;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #222;
  color: white;
}

.custom-table th, .custom-table td {
  padding: 5px 10px 5px 50px;
  text-align: center;
}

.custom-table th {
  background-color: #00c5a0;
  color: black;
}

.parent-row,
.child-row {
  background-color: inherit;
}

.even-row {
  background-color: #333;
}

.odd-row {
  background-color: #444;
}

.child-row table {
  border-collapse: collapse;
}

.delete-btn {
  color: red;
  cursor: pointer;
  text-align: center;
  background-clip: content-box;
  font-size: 1.7rem;
}

.delete-btn:hover {
  background-color: darkred;
} 

.expand-collapse-btn {
  background-color: #00c5a0;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
}

.expand-collapse-btn:hover {
  color: white;
}

.expand-td:hover .expand-arrow {
  color: black;
}

thead.main-header {
  position: sticky;
  top: 0;
  background-color: #00c5a0;
  z-index: 2;
  transition: box-shadow 0.3s ease;
}

.table-wrapper.scrolled thead.main-header {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 1);
}