.custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #222;
  color: white;
}

.custom-table th, .custom-table td {
  padding: 10px;
  border: 1px solid #444;
  text-align: left;
}

.custom-table th {
  background-color: #00c5a0;
}

.parent-row {
  background-color: #333;
}

.child-row {
  background-color: #444;
}

.delete-btn {
  color: red;
  cursor: pointer;
  text-align: center;
}

.delete-btn:hover {
  background-color: darkred;
}
